################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/GitHubIssueClassification/bin/Debug/net6.0
/GitHubIssueClassification/obj
/IrisFlowerClustering/bin/Debug/net6.0
/IrisFlowerClustering/obj
/SentimentAnalysis/bin/Debug/net6.0
/SentimentAnalysis/obj
/TaxiFarePrediction/obj
/BikeDemandForecasting/bin/Debug/net6.0
/BikeDemandForecasting/obj
/DeepLearning_ImageClassification_Binary/bin/Debug/net6.0
/DeepLearning_ImageClassification_Binary/obj
/MovieRecommender/bin/Debug/net6.0
/MovieRecommender/obj
/ObjectDetection/bin/Debug/net6.0
/ObjectDetection/obj
/PhoneCallsAnomalyDetection/bin/Debug/net6.0
/PhoneCallsAnomalyDetection/obj
/ProductSalesAnomalyDetection/bin/Debug/net6.0
/ProductSalesAnomalyDetection/obj
/TextClassificationTF/bin/Debug/net6.0
/TextClassificationTF/obj
/TransferLearningTF/bin/Debug/net6.0
/TransferLearningTF/obj
